@import "tailwindcss";

@theme {
    /* Colors */
    --color-accent: #777777;
    --color-black: #151412;
    --color-light-dark: #36332F;
    --color-gray: #F3F3F3;
    --color-gray-300: #F7F7F7;
    --color-gray-400: #EFEFEF;
    --color-gray-500: #AEAEAE;
    --color-gray-600: #999999;
    --color-gray-800: #3A3A3A;
    --color-light-gray: #D7DDDF;
    --color-primary: #87826E;
    --color-light: #f8f9fa;
    --color-dark: #212529;
    --color-light-blue: #EDF1F3;
    --color-navbar: #131814;
    --color-swiper-theme: #4A4A4A;
    --color-swiper-pagination: #4A4A4A;

    /* Fonts */
    --font-italiana: 'Italiana', serif;
    --font-mulish: 'Mulish', sans-serif;
    /*--font-serif: 'serif';*/


    /* Container Sizes */
    --max-width-8xl: 82rem;
    --max-width-9xl: 90rem;
    --size-128: 32rem;
    --size-112: 28rem;
    --text-4-5xl: 2.625rem;
    --text-6-7xl: 4.25rem;
}

body {
    font-family: var(--font-mulish);
    background-color: var(--color-gray-300);
}

/* باقی استایل‌ها */
.hero-slider .swiper-pagination-bullet {
    @apply w-5 h-5 bg-gray-400 opacity-70 transition-opacity duration-300 !mx-3 !mb-12;
}

.hero-slider .swiper-pagination-bullet-active {
    @apply opacity-100 bg-black;
}

.product-swiper {
    width: 100vw !important;
    margin-left: calc(-50vw + 50%) !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.animate-slow {
    animation: spin 40s linear infinite;
}